* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #bb3333;
    color: #f1f1f1;
}

.christmas {
    width: 0;
    height: 0;
    margin-top: 10vh;
    background-color: #0c1e42;
    animation: square-grow 2s steps(20, end) forwards;
}

.christmas__tree {
    font-size: 0;
    text-align: center;
    padding: 20px;
    animation: xmastree 2s steps(25, end) forwards;
    animation-delay: 2s;
}

.wishes {
    text-align: center;
    font-size: 64px;
    font-family: 'Great Vibes', cursive;
}

.wishes__part1 {
    animation: typing 2s steps(25, end) forwards;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.wishes__part2,
.wishes__part3 {
    animation: typing 2s steps(25, end) forwards;
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.logo {
    width: 0;
    height: 0;
    animation: square-grow 2s steps(20, end) forwards;
    animation-delay: 4s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes square-grow {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 200px;
        height: 200px;
    }
}

@keyframes xmastree {
    from {
        font-size: 0;
    }

    to {
        font-size: 128px;
    }
}

@media (max-width: 768px) {
    .wishes {
        font-size: 32px;
    }
}